* {
    box-sizing: border-box;
}
body {
    font-family: 'Sedan SC', sans-serif;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0px;
}
.cabecera {
    background-color: rgb(29, 11, 88, 80%);
    margin: 0px;
    display: flex;
    justify-content: center;
}
.cabecera__titulo {
    background: linear-gradient(to top right,rgb(197, 254, 111), rgb(206, 245, 149));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    color: rgb(203, 255, 125);
    position: relative
}
.modo__juego {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.juego__conf {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.conf--boton {
    color: inherit;
    opacity: 0.8;
    background: none;
    border: none;
}
.marcador {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.marcador__p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p--contador{
    font-family: monospace;
    font-size: 2em;
}
.espaciador {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.tablero{
    background: rgb(32, 31, 34);
    opacity: 30%;
    width: 15em;
    height: 15em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.tablero__aviso {
    display: none;
}
.tablero__b {
    background: none;
}
.configuracion {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.configuracion__jugar {
    border-radius: 0.6em;
    background: rgb(203, 255, 125);
    color: #340082;
    border: 0px;
}
.configuracion__conf {
    background: none;
    border: none;
    margin-bottom: 0.3em;
    color: rgb(251, 251, 251);
}